<div class="Content">
  <article *ngFor="let news of news">
    <div class="Header">
      <h1>{{ news.title }}</h1>
      <small class="Date">{{ news.date | date }}</small>
    </div>
    <p>{{ news.content }}</p>
  </article>
</div>

<div class="Pagination">
  <button (click)="onPageChange(0)" [disabled]="currentPage === 0">First</button>
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
  <div class="Page">
    <ul>
      <li *ngFor="let page of getPages()">
        <button *ngIf="page === currentPage" (click)="onPageChange(page)" [class.active]="currentPage === page">{{ page + 1 }}</button>
      </li>
    </ul>
  </div>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === getPages().length - 1">Next</button>
  <button (click)="onPageChange(getPages().length - 1)" [disabled]="currentPage === getPages().length - 1">Last</button>
</div>

