.Content {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
}

.Content article {
  background-color: #646669;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.Content .Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.Content .Header .Date {
  color: #d1d0c5;
  font-size: 12px;
  text-align: right;
}

.Content p {
  margin-top: 16px;
  color: #d1d0c5;
}

.Content h1 {
  margin: 0 0 15px 0;
}

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.Pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.Pagination p:hover {
  border: 1px solid #2c2e31;
  background-color: #e2b714;
}

.Pagination a.active {
  cursor: pointer;
  background-color: #e2b714;
  color: #fff;
}

.Pagination button {
  font-size: 14px;
  background-color: #2c2e31;
  border: 1px solid #d1d0c5;
  border-radius: 3px;
  color: #d1d0c5;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Pagination button:hover {
  background-color: #e2b714;
  border: 1px solid #2c2e31;
  color: #fff;
}

.Pagination button[disabled] {
  background-color: #646669;
  border: 1px solid #646669;
  cursor: not-allowed;
  color: #d1d0c5;
}

.Pagination button:first-child,
.Pagination button:last-child {
  margin: 0 0;
  padding: 5px 10px;
}

.Pagination button:nth-child(2),
.Pagination button:nth-last-child(2) {
  margin: 0 5px;
  padding: 5px 5px;
}


