.Content {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
}

.Content article {
  background-color: #646669;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.Content .Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.Content .Header .Date {
  color: #d1d0c5;
  font-size: 12px;
  text-align: right;
}

.Content p {
  margin-top: 16px;
  color: #d1d0c5;
}

.Content h1 {
  margin: 0 0 15px 0;
}
