<app-header></app-header>
 <div class="Content">
   <article>
     <h1>Article</h1>
     <p>This paragraph was a waste of time and space.</p>
   </article>
<!--   <article>-->
<!--     <h1>Article</h1>-->
<!--     <p>This paragraph was a waste of time and space.</p>-->
<!--   </article>-->
<!--   <article>-->
<!--     <h1>Article</h1>-->
<!--     <p>This paragraph was a waste of time and space.</p>-->
<!--   </article>-->
<!--   <article>-->
<!--     <h1>Article</h1>-->
<!--     <p>This paragraph was a waste of time and space.</p>-->
<!--   </article>-->
<!--   <article>-->
<!--     <h1>Article</h1>-->
<!--     <p>This paragraph was a waste of time and space.</p>-->
<!--   </article>-->
<!--   <article>-->
<!--     <h1>Article</h1>-->
<!--     <p>This paragraph was a waste of time and space.</p>-->
<!--   </article>-->

 </div>
<app-footer></app-footer>
