<footer class="bg-gray text-white p-2 position-absolute bottom-0 w-100">
    <div class="container">
            <div class="col-md-12 text-center">
                <h4 class="p-1 ">Мои соц. сети:</h4>
                <a href="https://t.me/vvarganovv" target="_blank" class="text-white p-3">
                    <img ngSrc="./assets/image/telegram-svgrepo-com.svg" alt="Телеграм" class="img-fluid social-icon"
                         height="32" width="32">
                </a>
                <a href="https://www.linkedin.com/in/pwsayp/" target="_blank" class="text-white p-3">
                    <img ngSrc="./assets/image/linkedin-svgrepo-com.svg" alt="LinkedIn" class="img-fluid social-icon"
                         height="32" width="32">
                </a>
            </div>
    </div>
</footer>
