<div class="Elements">
  <article *ngFor="let element of topic.elements; let i = index">
    <div class="Element">
      <div class="Description">
        <p>{{ i + 1 }}.{{ element }}</p>
      </div>
      <div class="Actions">
        <a href="/topics/{{ topic.id }}/edit">
          <button mat-button>
            <img src="assets/image/edit.svg" alt="account" width="24" height="24"/>
          </button>
        </a>
        <button mat-button>
          <img src="assets/image/trash-bin.svg" alt="account" width="24" height="24"/>
        </button>
      </div>
    </div>
  </article>
</div>
