<div class="Topics" [(ngModel)]="topics">
  <article *ngFor="let topic of topics">
    <div class="Topic">
      <p>{{ topic.title }}</p>
      <div class="Actions">
        <a href="/topics/{{ topic.id }}">
          <button mat-button>
            <img src="assets/image/in.svg" alt="account" width="20" height="20"/>
          </button>
        </a>
        <a href="/topics/{{ topic.id }}/edit">
          <button mat-button>
            <img src="assets/image/edit.svg" alt="account" width="24" height="24"/>
          </button>
        </a>
        <button mat-button (click)="deleteTopic(topic.id)">
          <img src="assets/image/trash-bin.svg" alt="account" width="24" height="24"/>
        </button>
      </div>
    </div>
  </article>
</div>
